---
layout: main
projectName: 'Tablo Tools'
projectUrl: 'https://github.com/jessedp/tablo-tools-electron'
tagline: 'The control over your Tablo you needed'
version: '0.1.7'
---

<div class="header">
  <div class="container">
    <h1 class="logo">
      <img
        src="resources/tablo_tools_title_large.png"
        alt="Tablo Tools"
        height="75px"
      />
    </h1>
    <div class="tagline">
      {{ page.tagline }}
    </div>
    <div class="cta">
      <a href="#downloads" role="button"
        ><i class="fa fa-download"></i> Download v{{page.version}}</a
      >
      <a href="{{page.projectUrl}}" role="button">
        <i class="fa fa-github"></i>
        View on GitHub
      </a>
    </div>
    <div class="demo">
      <div class="slider">
        <div><img src="resources/home.png" /></div>
        <div><img src="resources/overview.png" /></div>

        <div><img src="resources/search_all.png" /></div>
        <div><img src="resources/search_term.png" /></div>
        <div><img src="resources/search_view_selected.png" /></div>
        <div><img src="resources/delete_confirm.png" /></div>
        <div><img src="resources/export-waiting.png" /></div>
        <div><img src="resources/export_working.png" /></div>

        <div><img src="resources/shows.png" /></div>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="container">
    <div class="subtagline">
      Bulk <i class="hilite">Delete</i> and <i class="hilite">Export</i> your
      Tablo recordings with ease
    </div>

    <ul class="features">
      <li>
        <b>Quick setup</b> automatically detects and loads <b>all</b> of your
        Tablos!
      </li>
      <li>
        <b>Automatic updates</b> see the <a href="#downloads">notes</a> for your
        OS below
      </li>
      <li>
        <b>Bulk Actions</b> search your recordings to bulk Export and Delete
        them
      </li>
      <li>
        <b>Search:</b> by <i>title/description</i> and various filters:
        <ul class="features">
          <li><i>state</i> failed/finished/recording</li>
          <li><i>type</i> episode/series, movie, sport/events</li>
          <li><i>watched</i> or not</li>
          <li><i>commercial skip</i> ready or not, plus error states</li>
          <li><i>show</i> all episodes of a series</li>
        </ul>
      </li>
    </ul>
    {% include downloads.html %} {% include quickstart.html %}

    <h1>Known Issues / Todo</h1>
    <ul>
      <li>
        <b>Security warnings</b> Windows and Mac binaries are unsigned, causing
        security warnings. <a href="#codesigning">More here.</a>
      </li>
    </ul>
    <div id="wsod" class="examples">
      <h2>White Screen of Death</h2>
      <h4>
        So long as you haven't disabled it, any error you receive will have been
        reported to us already.
      </h4>
      Sometimes you'll run into a problem that causes the app to crash with no
      warning or explanation - simply a full screen of white. <b>Ouch</b>.
      <br /><br />
      First, please make sure you are running the current version:
      <b> v{{ page.version }}</b> <br /><br />
      Right, you already are.
      <h5>
        Again, so long as you haven't disabled it, any error you receive will
        have been reported to us already.
      </h5>
      If you have disabled it or just want to, please follow these steps to
      gather information so the issue can be tracked down and fixed.
      <ol>
        <li>Open the app</li>
        <li>
          In the top menu, click <code>View -> Toggle Developer Tools</code>
          <span class="smaller">(a pane will open to right)</span>
        </li>
        <li>
          Do whatever caused the problem until it happens again.
          <span class="smaller"
            >keep track of the steps (video below), record it, etc</span
          >
        </li>
        <li>
          <code>Click <b>console</b></code> at the top of the new pane
        </li>
        <li>
          <code>Right click</code> in that new pane and <code>Save As...</code>
        </li>
        <li>
          <code>Upload</code> that file with your report on the issue.
          <br />
          <span class="smaller"
            >If you are unable to upload the file, you can also post the
            contents to
            <a href="https://pastebin.com/" target="_blank">Pastebin</a> and
            send along that link.
          </span>
        </li>
      </ol>
      <div style="padding-left: 20px"><i>Thanks!</i></div>

      Here's a quick video of how (don't worry the app was purposefully broken
      for this)
      <video
        id="initial"
        class="video-js vjs-big-play-centered"
        controls
        preload="auto"
        width="600"
        poster="resources/save_console-cropped-poster.png"
        data-setup="{}"
      >
        <source src="resources/save_console-cropped.mp4" type="video/mp4" />
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to
          a web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
          >
        </p>
      </video>
    </div>

    <div id="codesigning" class="examples">
      <h1>Why Aren't They Signed?</h1>
      <p>
        Both Windows and MacOS require their respective installer packages to be
        signed in order to have a nice, peaceful, security warning free
        experience. MacOS goes a step further and prevents auto-updating even
        after allowing you to install.
        <br /><br /><b>BOO!</b><br /><br />
        The problem, at least in the context of an open source side project like
        this, is that the signing certificates required (1 each) run
        <b>at least $100 USD per year per certificate</b>. <br /><br /><b
          >DOUBLE BOO!</b
        ><br /><br />
      </p>
    </div>

    <div id="issues" class="examples">
      <h1>Problems, Questions, Feedback?</h1>
      First, know that so long as you haven't disabled it, any error you receive
      will have been reported to us, so we're probably aware. Please don't let
      that stop you from reporting problems, though.
      <br /><br />
      Currently there are two options:
      <ul>
        <li>
          Fill out an
          <a href="https://github.com/jessedp/tablo-tools-electron/issues"
            >issue</a
          >
          describing what's going on
        </li>
        <li>
          Hit me up <a href="https://twitter.com/jessedp">@jessedp</a> on
          Twitter
        </li>
      </ul>
    </div>

    <div class="examples">
      <h1>Acknowledgemnts:</h1>
      <ul>
        <li>
          RIP My collecion of <i>Whose Line Is It Anyway?</i> that were lost to
          an errant bulk delete test.
        </li>
      </ul>
    </div>
  </div>
</div>
