---
layout: main
projectName: 'Tablo Tools'
projectUrl: 'https://github.com/jessedp/tablo-tools-electron'
tagline: 'The control over your Tablo you needed'
version: '0.3.9'
---

<div class="header">
  <div class="container">
    <h1 class="logo">
      <img
        src="resources/tablo_tools_title_large.png"
        alt="Tablo Tools"
        height="75px"
      />
    </h1>
    <div class="tagline">
      {{ page.tagline }}
    </div>
    <div class="cta">
      <a href="#downloads" role="button"
        ><i class="fa fa-download"></i> Download v{{page.version}}</a
      >
      <a href="{{page.projectUrl}}" role="button">
        <i class="fa fa-github"></i>
        View on GitHub
      </a>
    </div>
    <div class="demo">
      <div class="slider">
        <div><img src="resources/home.png" /></div>
        <div><img src="resources/overview.png" /></div>

        <div><img src="resources/search_all.png" /></div>
        <div><img src="resources/search_term.png" /></div>
        <div><img src="resources/search_view_selected.png" /></div>
        <div><img src="resources/delete_confirm.png" /></div>
        <div><img src="resources/export-waiting.png" /></div>
        <div><img src="resources/export_working.png" /></div>

        <div><img src="resources/shows.png" /></div>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="container">
    <div class="subtagline">
      Bulk <i class="hilite">Delete</i> and <i class="hilite">Export</i> your
      Tablo recordings with ease
    </div>

    <ul class="features">
      <li>
        <b>Quick setup</b> automatically detects and loads <b>all</b> of your
        Tablos!
      </li>
      <li>
        <b>Automatic updates</b> see the <a href="#downloads">notes</a> for your
        OS below
      </li>
      <li>
        <b>Bulk Actions</b> search your recordings to bulk Export and Delete
        them
      </li>
      <li>
        <b>Search:</b> by <i>title/description</i> and various filters:
        <ul class="features">
          <li><i>state</i> failed/finished/recording</li>
          <li><i>type</i> episode/series, movie, sport/events</li>
          <li><i>watched</i> or not</li>
          <li><i>commercial skip</i> ready or not, plus error states</li>
          <li><i>show</i> all episodes of a series</li>
        </ul>
      </li>
      <li>
        <b>Stats</b> recording status counts, shows by channel, resolution by channel,
	  size info and more info pretty graphs
      </li>
      <li>
        <b>Live TV</b> without the guide - handy if your internet goes out!
      </li>
    </ul>
    {% include downloads.html %} {% include quickstart.html %}

    <div id="config" class="examples">
      <h2>Configuration Data</h2>
      Should you ever need to wipe reset the app, the configuration data is
      located in the following locations by OS:
      <ul>
        <li>
          <span class="fa fa-windows" /><span class="os-label"> Win</span>
          <span class="os-path"
            >C:\Users\<i>&lt;username&gt;</i>\AppData\Roaming\tablo-tools</span
          >
        </li>
        <li>
          <span class="fa fa-apple" /><span class="os-label">Mac</span>
          <span class="os-path">~/Library/Application Support/tablo-tools</span>
        </li>
        <li>
          <span class="fa fa-linux" /><span class="os-label">Linux</span>
          <span class="os-path">~/.config/tablo-tools</span>
        </li>
      </ul>
      This will wipe out anything customized in <b>Settings</b> and cause the
      recordings to be rebuilt on next open.
    </div>
    <div id="wsod" class="examples">
      <h2>White Screen of Death</h2>
      <h4>
        So long as you haven't disabled it, any error you receive will have been
        reported to us already.
      </h4>
      Sometimes you'll run into a problem that causes the app to crash with no
      warning or explanation - simply a full screen of white. <b>Ouch</b>.
      <br /><br />
      First, please make sure you are running the current version:
      <b> v{{ page.version }}</b> <br /><br />
      Right, you already are.
      <h5>
        Again, so long as you haven't disabled it, any error you receive will
        have been reported to us already.
      </h5>
      If you have disabled it or just want to, please follow these steps to
      gather information so the issue can be tracked down and fixed.
      <ol>
        <li>Open the app</li>
        <li>
          In the top menu, click <code>View -> Toggle Developer Tools</code>
          <span class="smaller">(a pane will open to right)</span>
        </li>
        <li>
          Do whatever caused the problem until it happens again.
          <span class="smaller"
            >keep track of the steps (video below), record it, etc</span
          >
        </li>
        <li>
          <code>Click <b>console</b></code> at the top of the new pane
        </li>
        <li>
          <code>Right click</code> in that new pane and <code>Save As...</code>
        </li>
        <li>
          <code>Upload</code> that file with your report on the issue.
          <br />
          <span class="smaller"
            >If you are unable to upload the file, you can also post the
            contents to
            <a href="https://pastebin.com/" target="_blank">Pastebin</a> and
            send along that link.
          </span>
        </li>
      </ol>
      <div style="padding-left: 20px"><i>Thanks!</i></div>

      Here's a quick video of how (don't worry the app was purposefully broken
      for this)
      <video
        id="initial"
        class="video-js vjs-big-play-centered"
        controls
        preload="auto"
        width="600"
        poster="resources/save_console-cropped-poster.png"
        data-setup="{}"
      >
        <source src="resources/save_console-cropped.mp4" type="video/mp4" />
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to
          a web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
          >
        </p>
      </video>
    </div>

    <div id="issues" class="examples">
      <h1>Problems, Questions, Feedback?</h1>
      Know that so long as you haven't disabled it, most errors you receive will
      have been reported to us, so we're probably aware. Please don't let that
      stop you from reporting problems, though, as that can help <b>a lot</b>!

      <ul>
        <li>
          <b>Issues, Problems :</b>
          If something has or is being worked on, you can find that listed in
          the
          <a href="https://github.com/jessedp/tablo-tools-electron/issues"
            >Issue Tracker</a
          >
          describing what's going on
        </li>
        <li>
          <b>Feature Requests :</b>
          <ul>
            <li>
              Check the
              <a href="https://github.com/jessedp/tablo-tools-electron/projects"
                >Roadmap/Projects</a
              >
              to see if it's on there
            </li>
            <li>
              Submit a new one in the
              <a href="https://github.com/jessedp/tablo-tools-electron/issues"
                >Issue Tracker</a
              >
              and we'll talk about it
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="examples">
      <h1>Acknowledgemnts:</h1>
      <ul>
        <li>
          RIP My collecion of <i>Whose Line Is It Anyway?</i> episodes that were
          lost to an errant bulk delete test.
        </li>
      </ul>
    </div>
  </div>
</div>
