.alerts-leave {
  opacity: 1;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
  height: 50px;
}
.alerts-leave.alerts-leave-active {
  overflow: hidden;
  opacity: 0.01;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 0;
  transition: opacity 300ms ease-in, padding-top 500ms ease-in,
    padding-bottom 500ms ease-in, margin-bottom 500ms ease-in,
    height 500ms ease-in;
}
