.container {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

ul {
  list-style: square;
}

.container ul {
  text-align: left;
  padding-left: 150px;
}

.container li {
  list-style: disc;
  margin-right: 0;
  padding-right: 0;
}
