<div id="quickstart" class="examples">
  <h1>Quick Start</h1>

  <p>
    The first time you start Tablo Tools, it will automatically detect the
    <i>first</i> Tablo it finds on your network and builds a copy of the
    recording data. It should go something like this:
  </p>
  <video
    id="initial"
    class="video-js vjs-big-play-centered"
    controls
    preload="auto"
    width="600"
    poster="resources/first-startup-cropped-poster.png"
    data-setup="{}"
  >
    <source src="resources/first-startup-cropped.mp4" type="video/mp4" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>

  <h2>Deleting</h2>

  <p>
    Now let's head over to <code>Browse</code> and <i>Search</i> for some
    recordings that aren't worth watching. We'll change the <b>progress</b> bar
    to limit the worst ones and <i>delete</i> them.
  </p>
  <video
    id="delete"
    class="video-js vjs-big-play-centered"
    controls
    preload="auto"
    width="600"
    poster="resources/delete-progress-cropped-poster.png"
    data-setup="{}"
  >
    <source src="resources/delete-progress-cropped.mp4" type="video/mp4" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>

  <h2>Exporting</h2>

  <p>
    Now let's reset our <i>Search</i> and find some really good recordings to
    <i>Export</i>. We'll find everything where <i>commerical skip</i> is ready,
    then we'll further limit to <i>"black-ish"</i> episodes and export those.
  </p>
  <video
    id="export"
    class="video-js vjs-big-play-centered"
    controls
    preload="auto"
    width="600"
    poster="resources/export-cropped-poster.png"
    data-setup="{}"
  >
    <source src="resources/export-cropped.mp4" type="video/mp4" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>
</div>
