/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'sandstone-bootstrap.css';
@import 'corner-banners.css';
@import 'tablo-badges.css';
@import 'spinner.css';
@import '~video-react/dist/video-react.css';

/** bootstrap4 removed all but sm and lg **/
.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.7rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}

/** bootstrap4 override width of bootstrap4 modal **/
.modal-lg {
  max-width: 80% !important;
}
.modal-xl {
  max-width: 95% !important;
}

html,
body,
#app,
#app > div {
  width: 100%;
  overflow-x: hidden;
}

.smaller {
  font-size: smaller;
}

/* Main container */
.overlay-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Original image */
.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
}

/* Original text overlay */
.overlay-image .text {
  background-color: whitesmoke;
  color: white;
  font-size: 12px;
  line-height: 1.5em;
  text-align: center;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
}

/* banner in top right corner */
.overlay-image .banner {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
}

/**
.container { max-width: 100%}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}


**/
