.badge-cell {
  position: absolute;
  top: 0;
  right: 0;
}

.badge-cell-bg {
  position: absolute;
  top: -29px;
  left: -29px;
  width: 58px;
  height: 58px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.badge-cell-bg.state-none {
  background-color: #eee;
}

.badge-cell-bg.state-scheduled {
  background-color: #ff8000;
}

.badge-cell-bg.state-conflict {
  background-color: #f11 !important;
}

.badge-cell-bg.state-recorded {
  background-color: #00a1d7;
}

.badge-cell-bg.type-manualProgram {
  background-color: #6626d4;
}

.badge-cell-img {
  position: absolute;
  top: 3px;
  right: 5px;
}

.badge-cell-img img {
  vertical-align: top;
}

.badge-cell-text {
  position: absolute;
  top: 3px;
  right: 5px;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.badge-cell-text.badge-cell-text-conflict {
  right: 8px;
  font-size: 16px;
}
