<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{page.projectName}} - {{page.tagline}}</title>
    <link rel="icon" type="image/png" href="favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <meta
      property="og:title"
      content="{{page.projectName}} - {{page.tagline}}"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{page.projectUrl}}" />
    <meta
      property="og:image"
      content="{{page.projectUrl}}/resources/tablo_tools_title_large.png"
    />
    <meta
      property="og:description"
      content="Bulk Export and Delete your Tablo recordings"
    />
    <link href="lib/normalize.css" type="text/css" rel="stylesheet" />
    <link href="main.css" type="text/css" rel="stylesheet" />

    <!-- Add the slick-theme.css if you want default styling -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <!-- Add the slick-theme.css if you want default styling -->
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
    />

    <link href="https://vjs.zencdn.net/7.7.5/video-js.css" rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/c44a528dab.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <script src="//use.typekit.net/ulc1wme.js"></script>
    <script>
      try {
        Typekit.load();
      } catch (e) {}
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-163372435-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-163372435-1');
    </script>
  </head>
  <body>
    {{ content }}

    <div class="footer">
      <div class="container">
        <span class="created-by"
          >Created by <a href="https://github.com/jessedp">jesse</a>
        </span>
      </div>
    </div>
    <script>
      $(document).ready(() => {
        let os = getOS();
        const none = 'Windows';
        switch (os) {
          case 'Mac':
          case 'Windows':
          case 'Linux':
            $('#btn' + os).trigger('click');
            break;
          default:
            $('#btn' + none).trigger('click');
        }
        $('.slider').slick({
          // normal options...
          infinite: true,
          dots: true,
          speed: 500,
          centerMode: true,
          centerPadding: '100px',
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 2500
        });
      });

      function openOS(evt, osName) {
        $('.tabcontent').each((i, item) => {
          $(item).hide();
        });

        $('.tablinks').each((i, item) => {
          console.log('tablinks', item);
          $(item).removeClass('active');
        });

        // Show the current tab, and add an "active" class to the button that opened the tab
        $('#' + osName).show();
        $('#btn' + osName).addClass('active');
      }

      function getOS() {
        const userAgent = window.navigator.userAgent,
          platform = window.navigator.platform,
          macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
          windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
          iosPlatforms = ['iPhone', 'iPad', 'iPod'];
        let os = null;

        if (macosPlatforms.indexOf(platform) !== -1) {
          os = 'Mac';
        } else if (iosPlatforms.indexOf(platform) !== -1) {
          os = 'iOS';
        } else if (windowsPlatforms.indexOf(platform) !== -1) {
          os = 'Windows';
        } else if (/Android/.test(userAgent)) {
          os = 'Android';
        } else if (!os && /Linux/.test(platform)) {
          os = 'Linux';
        }

        return os;
      }
      // TODO maybe google analytics
    </script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="https://vjs.zencdn.net/7.7.5/video.js"></script>
  </body>
</html>
