/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'sandstone-bootstrap.css';
@import 'corner-banners.css';
@import 'tablo-badges.css';
@import 'spinner.css';
/* @import '~video-react/dist/video-react.css'; */

/* reset sandstone */
label {
  margin-bottom: 0;
}

.smallerish {
  font-size: 13px;
}

.screen-control {
  position: absolute;
  text-align: center;
  left: 25%;
  margin-left: 12.5%;
  width: 25%;
  border: #b6c5d5 1px solid;
  border-top: none;
  z-index: 100;
}

.fullscreen-control {
  font-size: 1.2rem;
  display: inline-block;
}

.fullscreen-control:hover {
  cursor: pointer;
}

.zoom-control {
  display: inline-block;
}
.zoom-btn {
  display: inline-block;
}
.zoom-btn:hover {
  cursor: pointer;
}

.flash {
  visibility: hidden;
  position: absolute;
  text-align: center;
  top: 5px;
  left: 25%;
  width: 50%;

  /* border: #b6c5d5 1px solid; */

  /* background-color: tomato; */
  border-top: none;
  z-index: 10001;
}

.flash-message {
  font-size: 1.4em;
}

/* Fade-In Effect */
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}

/* Fade-Out Effect */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.5s, opacity 1.5s linear;
}

/* No-fade-Out Effect */
.hide-now {
  visibility: hidden;
  opacity: 0;
}

.naming-tpl-header {
  font-size: 16px;
  font-weight: bold;
}

.template-input {
  font-size: 14px;
  padding: 0 5px 0 5px;
  border: 0;
  border-bottom: #777 dashed 1px;
}

.segment-input {
  font-size: 14px;
  padding: 0 5px 0 5px;
  border: 0;
  border-bottom: #777 dashed 1px;
}

.segment-delim {
  font-size: 24px;
  font-weight: bold;
}

.default-naming-ind {
  border-bottom: ridge royalblue;
}

.name-preview {
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
  width: 95%;
  display: inline-block;
  background-color: #e0ecff;
}

.preview-toggle {
  font-size: 18px;
  color: forestgreen;
}

.naming-icons {
  font-size: 14px;
}

.external-directory {
  font-size: 14px;
  color: forestgreen;
}

code.slug-allowed-chars {
  font-size: 12px;
  color: crimson;
  background-color: floralwhite;
}

.string-value:hover {
  cursor: pointer;
}

.text-success {
  color: #28a745 !important;
}

.alert-success {
  background-color: #28a745 !important;
}

.btn-outline-success {
  color: #28a745 !important;
  border-color: #28a745 !important;
}
.btn-success {
  background-color: #28a745 !important;
}

.full-alert {
  max-width: 75%;
  font-size: 18px;
  font-weight: bold;
}

.export-alert {
  min-height: 62px;
}

/** flex layout **/
div.top-bar {
  position: absolute;
  width: 100%;
  vertical-align: middle;
}

div.page-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 100%;
}

div.section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  /* for Firefox */
  min-height: 0;
}

div.scrollable-area {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 20px;
}

a:focus,
a.btn:focus,
button:focus {
  outline: none !important;
}

.stat-small {
  min-width: 330px;
  margin-bottom: 100px;
}

div.markdown-div > ul > li > a {
  color: blue;
}

div.markdown-div > * > a {
  color: blue;
}

/** Overview - Device/discover **/
.device-card {
  display: block;
  position: relative;
  font-weight: bold;
}

.device-card::before {
  content: '';
  background-image: url('../../assets/tablo_device.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
  position: absolute;
  margin-top: 20px;
  width: 100%;
  height: 100%;

  /* background: inherit; */
  z-index: 0;
  filter: opacity(10%);
}

/** bootstrap4 extras **/

/** -  btns removed all but sm and lg **/
.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.7rem;
  line-height: 1.2;
  border-radius: 0.2rem;
}
.checkbox-wrap {
  max-height: 16px;
}
.checkbox-wrap:hover {
  cursor: pointer;
}

.spinner-grow-xl {
  width: 6rem;
  height: 6rem;
}

.badge-med {
  font-size: 14px;
  font-weight: normal;
}

.badge-sm {
  font-size: 12px;
  font-weight: normal;
}

.spinner-border-xl {
  width: 6rem;
  height: 6rem;
}

/** ---  modals **/

.modal-1000 {
  max-width: 1000px !important;
}

.modal-md {
  width: 50%;
  max-width: 600px !important;
}

.modal-lg {
  max-width: 80% !important;
}

.modal-xl {
  max-width: 95% !important;
}

/** Search ***/
.search-box {
  border: #b6c5d5 solid 1px;
  max-width: 460px !important;
  position: relative;
  top: 0;
  left: 0;
  height: 137px;
  overflow-y: hidden;
}

/** TabloImage **/
.cover-image {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  height: 200px;
  max-height: 200px;
  min-height: 200px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.search-image {
  padding: 0 0 2px 2px;
  width: 93px;
  min-width: 93px;
  max-width: 93px;
  height: 125px;
  max-height: 125px;
  min-height: 125px;
  display: inline-block;
}

.menu-image-small {
  height: 30px;
  max-height: 30px;
  width: 22px;
  max-width: 22px;
  display: inline-block;
}

.menu-image-md {
  height: 50px;
  max-height: 50px;
  width: 38px;
  max-width: 38px;
  display: inline-block;
}

.menu-image-lg {
  height: 75px;
  max-height: 75px;

  /* width: 38px;
  max-width: 38px; */
  display: inline-block;
}

.table-sm {
  font-size: 12px;
}

/** react-data-table **/
.rdt_TableHead,
.rdt_TableHeadRow,
.rdt_TableHeadRow > .rdt_TableCol {
  height: 30px;
}

.stats-header {
  background-color: #f8f5f0 !important;
  font-weight: bold;
  text-transform: lowercase;
  color: #777;
  padding: 0.25rem !important;
  margin: 0.25rem !important;
  font-size: 12px;
  border: 1px solid #dfd7ca !important;
}

/*** react-paginate ***/
.pagination {
  padding: 0;
  float: right;
}

.pagination > li:not(.previous):not(.next) {
  border: #b6c5d5 solid 1px;
  border-right: none;
}

.pagination > li:not(.previous):not(.next):nth-last-child(2) {
  border-right: #b6c5d5 solid 1px;
}

.pagination > li.next,
.pagination > li.previous {
  padding: 0;
  margin: 0 5px 0 5px;
}

.pagination > li > a {
  padding: 5px;
}
.pagination > li > a:hover {
  cursor: pointer;
  background: #9fcdff;
}

.pagination > li.previous > a:hover,
.pagination > li.next > a:hover {
  background: #b8daff;
  color: #1e7e34;
}

.active-page {
  background: #b6c5d5;
}
.break-me {
  padding: 0 2px 0 2px;
}

html,
body,
#app,
#app > div {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.smaller {
  font-size: smaller;
}

/* TabloImage missing images */
.overlay-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

/* Original image */
.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
  z-index: 3;
}

/* Original text overlay */
.overlay-image .text {
  background-color: whitesmoke;
  color: white;
  font-size: 12px;
  line-height: 1.5em;
  text-align: center;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
  z-index: 2;
}

/* banner in top right corner */
.overlay-image .banner {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
  z-index: 3;
}

/** nav bar Image / sel box **/
.top-bar {
  height: 50px;
}

.selected-basket {
  /* min-width: 125px;
  width: 125px; */
  min-height: 50px;
  height: 50px;
  margin: 0 10px 0 0;
  /* padding: 5px; */
  display: inline-block;
}

.menu-icon {
  width: 24px;
}

.cover {
  z-index: -1;
}
.cover-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  z-index: 5;
}

.menu-buttons {
  display: inline-block;
  min-height: 50px;
  height: 50px;
  margin: 0;
  padding: 5px 0;
  vertical-align: bottom;
}

/* Program block */
.program-cover {
  width: 150px;
  height: 200px;
  border: #dfd7ca solid 1px;
  overflow: hidden;
}

.program-title {
  border-bottom: darkgray solid 1px;
  margin-left: -10px;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.Aligner-item {
  flex: 1;
  min-width: 100%;
  width: 100%;
}

.Aligner-item-top {
  align-self: flex-start;
}

.Aligner-item-bottom {
  align-self: flex-end;
}

.Aligner-item-fixed {
  flex: none;
  max-width: 50%;
}

.show-cover {
  min-height: 210px;
  max-height: 210px;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;

  /* min-height: 100vh; */
}
.show-cover > div {
  /* these are the flex items */
  flex: 1;
}

.show-cover > div:last-child {
  /* these are the flex items */
  flex: 0;
  padding-bottom: 10px;
}

.show-cover > h1 {
  margin-top: auto;
  margin-bottom: auto;
}

.center-icon {
  padding-top: 3px;
  justify-content: center;
}

.fa-scroll:hover {
  cursor: pointer;
}

/** z-index maddness */

/* .top-bar {
  z-index: 100;
}

.page-container {
  z-index: 100;
}

.selected-basket {
  z-index: 100;
}

.btn {
  z-index: 10;
}

.popover, .bs-popover-bottom {
  z-index: 20;
} */

.title-area {
  height: 55px;
  overflow-y: auto;
}

.description {
  font-size: 0.75rem;
}

.ffmpeg-details {
  font-size: 12px;
}

/** For ExportPage List, keeps react-window/autosizer in place **/

.ExpList {
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 99%;
  padding-bottom: 100px;
}

.version-markdown a {
  color: forestgreen;
  text-decoration: underline;
}

.version-markdown h3 {
  color: firebrick;
}
